// project-specific styles go here (or you can import separate .scss files)

#gia-carbon {
	.segment {
		position: absolute;
		top: 0;
		right: 10px;
		display: inline-block;
		margin: 95px 0 0 0;
		width: 265px;
		vertical-align: top;
	}
	.canvas {
		position: relative;
		margin: 10px 0 10px 0;
		width: 100%;
		overflow: hidden;
	}
	.gia-navigation {
		position: absolute;
		z-index: 1000;
		margin: 10px 0 10px 0;
	}
	.carbon-equivalent-row {
		overflow: hidden;
		height: 0px;
		line-height: 25px;
		transition: height 1s;
	}
	.carbon-equivalent-row-total {
		height: 25px;
		border-top: 2px solid #000;
		line-height: 25px;
	}
	.carbon-equivalent-row-header {
		height: 25px;
		line-height: 25px;
	}
	.open {
		height: 25px;
		border-top: 1px solid #999;
		border-bottom: 0 !important;
		margin-bottom: 0 !important;
	}
	.step {
		width: 100px;
		font-weight: bold;
		font-family: 'Guardian Egyptian Web';
	}
	.step, .carbon, .miles {
		display: inline-block;
		vertical-align: top;
	}
	.carbon, .miles {
		float: right;
		width: 80px;
		text-align: right;
		font-family:"Guardian Text Sans Web", sans-serif;
	}
	.description {
		/*padding: 10px 25px 0 25px;*/
		/*border-bottom: 2px solid #000;*/
		opacity: 0;
	}
	.description h1 {
		padding: 0 0 5px 0;
	}
	#cubes-container {
		position: relative;
	}
	#illustration-container {
		width: 100%;
		height: 360px;
	}
	svg line {
		stroke-width: 2px;
		stroke: #000;
		shape-rendering: auto;
	}
	svg path {
		stroke: #000;
		fill: none;
	}
	svg marker path {
		stroke: none;
		fill: #000;
	}

	.gia-carbon-annotation {
		position: absolute;
		z-index: 1000;
		overflow: hidden;
		width: 225px;
		height: 150px;
	}

	.annotation-content-container {
		position: absolute;
		display: table;
		width: 225px;
		height: 80px;
		vertical-align: middle;
		/*font-weight: bold;*/
		font-size: 14px;
		font-family:"Guardian Text Sans Web", sans-serif;
		line-height: 18px;
	}

	.annotation-content {
		display: table-cell;
		width: 225px;
		vertical-align: middle;
	}

	#annotation-title {
		font-weight: bold;
	}

	.gas-cube2 {
		position: absolute;
		bottom: 1px;
		background-size: cover;
		opacity: 1;
	}
	.gas-positioned {
		position: absolute;
		bottom: 0px;
	}
	#gas-reference {
		width: 50px;
		height: 50px;
	}
	#gas-reactivation {
		left: -999px;
	}
	#gas-transport {
		left: -999px;
	}
	#gas-pumping {
		left: -999px;
	}
	#gas-container-top {
		position: absolute;
		z-index: 0;
		overflow: hidden;
		width: 100%;
		height: 360px;
	}
	.filmstrip-outer-wrapper {
		margin-bottom: 1em;
		width: 100%;
		height: 100%;
	}
	.filmstrip-wrapper {
		width: 100%;
		height: 100%;
	}
	.filmstrip {
		width: 100%;
		height: 100%;
		background-image: url(../files/images/gas-large.jpg);
		background-size: 100% 4000%;
		/*image-rendering: -webkit-optimize-contrast;*/
	}
	.animated {
		-webkit-animation: filmstrip 4s infinite;
		-moz-animation: filmstrip 4s infinite;
		-ms-animation: filmstrip 4s infinite;
		animation: filmstrip 4s infinite;
	}

	#illustration-container {
		position: relative;
	}

	@media (max-width: 900px) {
		.navigation  {
			display: none;
		}
		#gas-container-top {
			position: relative;
			height: 100px;
			border-bottom: 2px solid #000;
		}
		.carbon-equivalent-row-header, .-equivalent-row {
			height: 25px;
		}
		.description {
			opacity: 1 !important;
			width: 100%;
		}
		.canvas {
			// height: auto;
		}
		.gas-cube2 {
			bottom: 0;
		}
		.segment {
			position: relative;
			margin: 0;
			left: auto;
			right: auto;
			width: 100%;
		}
		#illustration-container {
			position: absolute;
			top: 0;
			height: 200px;
		}
		.annotation-content-container {
			width: 185px !important;
			height: 100px;
		}
	}
	@media (max-width: 480px) {
		.annotation {
			// display: none;
		}
	}
}


@keyframes "spin" {
from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
to {
		-webkit-transform: rotate(359deg);
		-moz-transform: rotate(359deg);
		-ms-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

@-webkit-keyframes "spin" {
from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

@-moz-keyframes spin {
from {
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
to {
		-moz-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

@-ms-keyframes "spin" {
from {
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
to {
		-ms-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
