// The main stylesheet. This is the file that will be compiled to styles/min.css -
// import all your subsidiary stylesheets here

// default imports
@import "guardian/base";
@import "mixins"; // this makes the contents of the mixins.scss file available here

// project-specific styles go here (or you can import separate .scss files)
#gia-map {
	.gia-navigation {
		position: relative;
		z-index: 999;
		height: 60px;
		background-color: #FFF;
		font-weight: bold;
		font-size: 18px;
		font-family: "Guardian Text Sans Web";
	}

	.navigation-filters {
		display: inline-block;
	}

	.input {
		margin: 0 0 0 0;
		height: 45px;
		font-weight: bold;
		font-size: 18px;
		font-family: "Guardian Text Sans Web";
		line-height: 60px;
		outline: 0;
		border: 0;
	}

	.input-container {
		display: inline-block;
		border-bottom: 2px solid #EEE;
		vertical-align: top;
	}

	.input-container2 {
		display: inline-block;
		width: 100px;
		vertical-align: top;
	}

	.filters {
		display: inline-block;
		vertical-align: top;
	}

	#map {
		position: relative;
		z-index: 0;
		width: 100%;
		// height: 500px;
		transition: height 1s;
	}

	.map-wrapper {
		position: relative;
	}

	.navigation-text {
		display: inline-block;
		margin: 0 5px 0 0;
		height: 60px;
		line-height: 60px;
	}

	.dropdown {
		position: relative;
		z-index: 1;
		width: 220px;
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
	}

	.dropdown-selected {
		padding: 0 5px 0 5px;
		height: 45px;
		border-bottom: 2px solid #EEE;
		line-height: 60px;
	}

	.dropdown-items {
		background-color: #FFFFFF;
		width: 300px;
		max-height: 0px;
		overflow: hidden;
		transition: max-height .5s ease;
	}

	.dropped {
		max-height: 350px;
	}

	.dropdown-item {
		padding: 0 10px 0 10px;
		height: 35px;
		color: #666;
		font-weight: normal;
		line-height: 35px;
		transition: background-color, color .3s;
	}

	.dropdown-item-any {
		padding: 0 10px 0 10px;
		height: 35px;
		color: #666;
		font-weight: normal;
		line-height: 35px;
		transition: background-color, color .3s;
	}

	.site-details {
		position: absolute;
		top: -500px;
		left: 0px;
		z-index: 1000;
		padding: 20px;
		width: 260px;
		border-radius: 10px;
		background-color: #FFF;
		color: #000;
		opacity: 1;
	}

	.site-details:after {
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -15px;
		width: 0;
		height: 0;
		border: solid transparent;
		border-width: 15px;
		border-top-color: #FFF;
		content: " ";
		pointer-events: none;
	}

	.details-name {
		font-family: "Guardian Egyptian Web";
		font-weight: bold;
		font-size: 16px;
	}

	.details-row {
		font-family: "Guardian Text Sans Web", sans-serif;
		font-weight: bold;
		font-size: 12px;
		line-height: 18px;
		margin:  0 0 -1px 0;
		border-bottom: 1px solid #CCC;
		overflow: hidden;
	}

	.detail-label {
		width: 115px;
		display: inline-block;
		font-size: 12px;
		font-weight: normal;
	}

	.details-place {
		padding: 0 0 5px 0;
		font-size: 14px;
		line-height: 20px;
	}

	.details-description, .details-step {
		padding: 5px 0 5px 0;
		border-top: 1px dotted #000;
		font-size: 12px;
		line-height: 14px;
	}

	.loading-container {
		position: relative;
		display: inline-block;
		margin: 10px 0 0 0;
		padding: 10px 10px 0 10px;
		min-width: 20px;
		min-height: 20px;
		background-color: #FFF;
		vertical-align: top;
	}

	.gia-button {
		margin: 15px 20px 0 20px;
		padding: 10px;
		height: 10px;
		border-radius: 5px;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 14px;
		font-family: "Guardian Text Sans Web";
		line-height: 10px;
		float: right;
	}

	.circle-button {
		display: inline-block;
		margin: 0 10px 0 0;
		width: 10px;
		height: 10px;
		border: 2px solid #CCC;
		border-radius: 10px;
	}

	.blue {
		background-color: #005689 !important;
	}

	.gray {
		background-color: #CCCCCC !important;
	}

	.map-key {
		position: relative;
		margin: -125px 0 0 0;
		width: 250px;
		height: 100px;
		background-color: #FFF;
		padding: 25px 25px 0 0;
		opacity: 0.9;
	}

	.key-row {
		height: 20px;
		margin: 5px 0 5px 0;
		line-height: 20px;
		font-family: "Guardian Text Sans Web";
		display: block;
	}

	.key-indicator {
		height: 10px;
		width: 10px;
		border-radius: 100px;
		padding: 0;
		display: inline-block;
		background-color: #CCC;
		margin: 0 5px 0 0;
	}

	.notes {
		margin: 10px 0 0 0;
		display: inline-block;
	}

	.glossary {
		position: relative;
		margin: 0px 0 0 0;
		width: 100%;
		height: 0px;
		background-color: #FFF;
		padding: 0 0 0 0;
		overflow: hidden;
		background-color: #FFF;
		transition: margin 0.5s, height 0.5s;
	}

	.open {
		margin: -500px 0 0 0;
		height: 500px;
	}

	.glossary p {
		padding: 0 0 10px 0;
		font-size: 12px;
		line-height: 14px;
		font-family: "Guardian Text Sans Web";
		hyphens: auto;
		-webkit-hyphens: auto;
	}

	.glossary-header {
		padding: 10px 0 10px 0;
	}

	.glossary-col {
		width: 25%;
		display: inline-block;
		padding-left: 0%;
		padding-right: 5%;
		vertical-align: top;
	}

	.glossary-entry {
		font-weight: bold;
	}

	.glossary-entry-stars {
		margin: 0 0 0  40px;
	}

	.glossary-entry-indented {
		display: inline-block;
		width: 25%;
		vertical-align: top;
	}

	.glossary-entry-indented p, .glossary-definition-indented p {
		padding: 0;
		margin: 5px;
		// height: 20px;
	}

	.glossary-definition-indented {
		display: inline-block;
		width: 75%;
		vertical-align: top;
	}

	.close-button {
		position: absolute;
		top: 10px;
		right: 0;
		cursor: pointer;
		user-select: none;
	}

	.glossary-link {
		margin: 10px 0 0 0;
		display: inline-block;
		float: right;
		font-family: "Guardian Text Sans Web";
	}

	.gia-notes {
		display: inline-block !important;
		width: 600px !important;
	}

	#gia-map-question {
		cursor: pointer;
		border-radius: 50%;
		background-color: #EEE;
		line-height: 20px;
		color: #999;
		width: 18px;
		height: 18px;
		text-align: center;
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
		font-size: 12px;
	}

	svg circle {
		opacity: .5;
	}

	svg circle .highlighted {
	}
}

@media (min-width: 600px) {
	#map {
		height: 500px !important;
	}
}

@media (max-width: 600px) {
	#map {
		height: 250px !important;
	}
}

#gia-map.gia-mobile {
	.navigation-filters {
		display: none !important;
	}

	.navigation-text {
		font-size: 16px;
	}

	.input {
		font-size: 16px;
	}

	.button {
		margin: 15px 5px 0 5px;
		font-size: 12px;
	}

	.popup-details {
		display: none;
	}

	.input-container2 {
		width: 75px;
	}

	#map-wrapper {
		height: 250px !important;
	}

	#map {
		height: 200px !important;
	}

	.site-details {
		width: 100%;
		border-radius: 0px;
		bottom: 0 !important;
		left: 0 !important;
		top: auto;
		padding: 10px 0 10px 0;
 	}

	.site-details:after {
		content: none;
	}

	.dropshadow {
		box-shadow: none;
	}

	.details-row {
		height: 0;
		border: 0;
	}

	.leaflet-map-pane {
		position: relative !important;
	}

	.leaflet-control {
		display: none !important;
	}

	.notes p {
		font-size: 12px;
		line-height: 14px;
	}

	.notes {
		margin: 10px 0 0 20px;
	}

	.key-row {
		display: inline-block;
	}

	.map-key {
		display: none !important;
	}

	.glossary {
		display: none;
	}

	#glossary-button {
		display: none;
	}

	.gia-notes {
		display: block;
		width: 100% !important;
	}

	#stars {
		display: none;
	}

	svg circle {
		stroke-width: 50;
		stroke: white;
		stroke-opacity: 0;
	}
}

@import "mapbox";
