<aside class='gia-breakout gia-breakout-right'>
	<div class='gia-breakout-inner'>
		<img src='<%= assets %>/images/cir.jpg'>
		<p>This story was produced in a collaboration between <a href="http://cironline.org/toxictrail/partner?partnername=Guardian">The Center for Investigative Reporting (CIR)</a> and the Guardian US. <a href="http://cironline.org/toxictrail/partner?partnername=Guardian">CIR</a>, a nonprofit news organization based in the San Francisco Bay Area, has a 37-year legacy of in-depth reporting. <a href='http://cironline.org/toxictrail/partner?partnername=Guardian'>Get more news and information from CIR</a>.</p>
		<p><a href="http://www.theguardian.com/environment/2014/mar/17/six-things-toxic-trail-superfund-investigation">Six things to know about CIR’s Superfund investigation</a></p>
		<p><a href="http://www.theguardian.com/environment/2014/mar/17/toxic-trail-weak-points-superfund-waste">The weak points in the Superfund system</a></p>
		<p>Are you a teacher? <a href="http://cironline.org/toxictrail/partner?partnername=Guardian">CIR</a> and Guardian US partnered with PBS NewsHour Extra to create a lesson plan based on this story. <a href="http://www.pbs.org/newshour/extra/lessons_plans/toxictrial/">Click here.</a></p>
</div>
</aside>
