<div id='gia-dioxins' class='gia-interactive gia-dioxins'>
	<h2>From the Superfund to your dinner plate</h2>

	<figure class='gia-dioxins-figure'>
		<img src='<%= assets %>/images/dioxins/toxic_fumes03.gif'>
		<figcaption><span class='gia-number'>1</span> Dioxins &ndash; highly toxic chemicals &ndash; are released into the atmosphere by waste burning incinerators.</p>
	</figure>

	<figure class='gia-dioxins-figure'>
		<img src='<%= assets %>/images/dioxins/acid_rain03.gif'>
		<figcaption><span class='gia-number'>2</span> Precipitation spreads dioxins across land, water and vegetation, which are consumed by animals.</p>
	</figure>

	<figure class='gia-dioxins-figure'>
		<img src='<%= assets %>/images/dioxins/contaminated03.gif'>
		<figcaption><span class='gia-number'>3</span> People are exposed as the chemicals build up in the food supply.</p>
	</figure>
</div>
