<div class="intro">
	<h2>Cleaning with carbon</h2>
	<p>
		Contaminated water is filtered through activated carbon – which is then shipped off to be burned – in a process called “pump and treat.”
	</p>
</div>

<video
	preload
	on-tap='toggle'
	poster='http://interactive.guim.co.uk/next-gen/environment/ng-interactive/2014/mar/-sp-toxic-waste-silicon-valley-trail/assets/images/video-poster2{{ mobile ? "-play" : "" }}.jpg'
>
	<source
		type='video/webm'
		src='http://interactive.guim.co.uk/next-gen/environment/ng-interactive/2014/mar/-sp-toxic-waste-silicon-valley-trail/assets/video/activated_carbon_06C.webm'
	>

	<source
		type='video/mp4'
		src='http://interactive.guim.co.uk/next-gen/environment/ng-interactive/2014/mar/-sp-toxic-waste-silicon-valley-trail/assets/video/activated_carbon_06C-928.mp4'
	>
</video>

{{# !mobile }}
	<div class='video-controls'>
		<div class='progress' on-tap='seek'>
			<div class='progress-inner' style='width: {{100 * currentTime / duration}}%;'></div>
		</div>
	</div>
{{/ !mobile }}

<style>
	video {
		width: 100%;
		cursor: pointer;
	}

	.video-controls {
		position: relative;
		width: 100%;
		height: 0;
	}

	.progress {
		width: 100%;
		height: 10px;
		background-color: #f9f9f9;
		cursor: pointer;
	}

	.progress-inner {
		height: 100%;
		background-color: rgb(240,200,0);
	}
</style>


<script>
	var throttle, raf;

	throttle = require( 'videoutils/timing/throttle' );
	raf = require( 'videoutils/compatibility/requestAnimationFrame' );

	require( 'videolib/Ractive-events-tap' );

	component.exports = {
		data: {
			mobile: /mobile/i.test( navigator.userAgent )
		},

		init: function () {
			var self = this, video, loop;

			this.video = video = this.find( 'video' );

			if ( this.get( 'mobile' ) ) {
				this.on( 'toggle', function () {
					if ( video.paused ) {
						video.play();
					} else {
						video.pause();
					}
				});

				return;
			}

			this.setupHandlers();

			if ( window.GIA_STANDALONE ) {
				this.play();
			} else {
				this.setupScrollHandler();
			}

			this.on({
				teardown: function () {
					removeScrollHandler();
				},
				toggle: function () {
					if ( this.playing ) {
						this.pause();
					} else {
						this.play();
					}
				},
				seek: function ( event ) {
					var bcr, x, currentTime;

					bcr = event.node.getBoundingClientRect();
					x = event.original.clientX;

					progress = ( x - bcr.left ) / bcr.width;

					currentTime = this.video.duration * progress;

					this.video.currentTime = currentTime;
					this.set( 'currentTime', currentTime );

					this.lastCurrentTime = currentTime;
					this.timeAtLastCurrentTime = Date.now();
				}
			});

			this.loop = loop = function () {
				var elapsedSinceLastCurrentTime, currentTime;

				if ( !self.playing ) {
					return;
				}

				elapsedSinceLastCurrentTime = Date.now() - self.timeAtLastCurrentTime;
				currentTime = self.lastCurrentTime + ( elapsedSinceLastCurrentTime / 1000 );

				if ( currentTime > self.get( 'duration' ) ) {
					return;
				}

				self.set( 'currentTime', currentTime );
				raf( loop );
			};
		},

		setupHandlers: function () {
			var self = this, handler;

			this.lastCurrentTime = 0;
			this.timeAtLastCurrentTime = Date.now();

			this.video.addEventListener( 'loadedmetadata', function loadedmetadataHandler () {
				self.set( 'duration', this.duration );
				this.removeEventListener( 'loadedmetadata', loadedmetadataHandler, false );
			}, false );

			this.video.addEventListener( 'canplaythrough', function canplaythroughHandler () {
				self.canplaythrough = true;

				if ( self.shouldPlay ) {
					self.play();
				}

				this.removeEventListener( 'canplaythrough', canplaythroughHandler, false );
			}, false );

			this.video.addEventListener( 'ended', function endedHandler () {
				self.playing = false;
			}, false );

			this.video.addEventListener( 'progress', function ( event ) {
				var progress;

				if ( !this.duration ) {
					return;
				}

				self.lastCurrentTime = this.currentTime;
				self.timeAtLastCurrentTime = Date.now();

				self.set( 'currentTime', this.currentTime );
			});
		},

		setupScrollHandler: function () {
			var self = this, scrollHandler, removeScrollHandler;

			scrollHandler = throttle( function () {
				var bcr, midY;

				bcr = self.video.getBoundingClientRect();
				midY = window.innerHeight / 2;

				if ( bcr.top < midY && bcr.bottom > midY ) {
					self.play();
					removeScrollHandler();
				}
			});

			removeScrollHandler = function () {
				window.removeEventListener( 'scroll', scrollHandler, false );
				window.removeEventListener( 'resize', scrollHandler, false );
			};

			window.addEventListener( 'scroll', scrollHandler, false );
			window.addEventListener( 'resize', scrollHandler, false );

			this.on( 'teardown', removeScrollHandler );
		},

		play: function () {
			if ( !this.canplaythrough ) {
				this.shouldPlay = true;
				return;
			}

			this.video.play();
			this.playing = true;

			this.lastCurrentTime = this.video.currentTime;
			this.timeAtLastCurrentTime = Date.now();

			this.loop();
		},

		pause: function () {
			this.video.pause();
			this.playing = false;
		}
	};
</script>
