<div class="graphic">
	<div class="intro">
		<h2>The cost in carbon</h2>
		<p>
			The carbon emissions generated in a year by one section of the cleanup at the Silicon Valley Superfund site is dramatic.
		</p>
	</div>

	<div class="canvas">
		<div class="gia-navigation">
			<div id="gia-carbon-previous" class="gia-button gia-left-button gia-previous-button gia-disabled-button">‹</div>
			<div id="gia-carbon-next" class="gia-button gia-right-button gia-next-button">›</div>
		</div>

		<div id="gia-oversight-annotation" class="gia-carbon-annotation">
			<div class="annotation-content-container">
				<div class="annotation-content">
					<div id="annotation-title"></div>
					<div id="annotation-cube"></div>
					<div id="annotation-text"></div>
				</div>
			</div>
		</div>

		<div id="gas-container-top">
			<div class="gas-cube2" id="gas-reference">
				<div class="filmstrip-outer-wrapper">
					<div class="filmstrip-wrapper">
						<div class="filmstrip animated"></div>
					</div>
				</div>
			</div>

			<div class="gas-cube2" id="gas-reactivation">
				<div class="filmstrip-outer-wrapper">
					<div class="filmstrip-wrapper">
						<div class="filmstrip animated"></div>
					</div>
				</div>
			</div>

			<div class="gas-cube2" id="gas-transport">
				<div class="filmstrip-outer-wrapper">
					<div class="filmstrip-wrapper">
						<div class="filmstrip animated"></div>
					</div>
				</div>
			</div>

			<div class="gas-cube2" id="gas-pumping">
				<div class="filmstrip-outer-wrapper">
					<div class="filmstrip-wrapper">
						<div class="filmstrip animated"></div>
					</div>
				</div>
			</div>
		</div>

		<div id="illustration-container"></div>

		<div class="segment">
			<div class="description">
				<h3>Equivalent car emissions</h3>

				<div class=""></div>
				<div class="carbon-equivalent-row-header">
					<div class="step"></div>
					<div class="miles">Miles</div>
					<div class="carbon">Pounds</div>
				</div>

				<div class="carbon-equivalent-row" id="reactivation">
					<div class="step">Reactivation:</div>
					<div class="miles">89,572</div>
					<div class="carbon">98,000</div>
				</div>

				<div class="carbon-equivalent-row" id="transport">
					<div class="step">Transport:</div>
					<div class="miles">72,571</div>
					<div class="carbon">79,400</div>
				</div>

				<div class="carbon-equivalent-row" id="pumping">
					<div class="step">Pumping:</div>
					<div class="miles">3,619,440</div>
					<div class="carbon">3,960,000</div>
				</div>

				<div class="carbon-equivalent-row-total open" id="total">
					<div class="step">Total:</div>
					<div class="miles"></div>
					<div class="carbon"></div>
				</div>
			</div>
		</div>

	</div>

	<p class='gia-notes'>
		NOTES: Pumping: According to <a href="http://www.cluin.org/greenremediation/docs/SF_Energy_Carbon_Footprint.pdf">a report prepared for the EPA</a>, a single pump and treat system emits 660 standard tons per year on average. We have data on three of the 10 systems at the Silicon Valley site. According to reports <a href="http://yosemite.epa.gov/r9/sfund/r9sfdocw.nsf/3dc283e6c5d6056f88257426007417a2/7f653fec7bc0b4eb882578d900810b97/$FILE/B1-4-10Ann_Final.pdf">here</a> <a href="http://yosemite.epa.gov/r9/sfund/r9sfdocw.nsf/3dc283e6c5d6056f88257426007417a2/7f653fec7bc0b4eb882578d900810b97/$FILE/B19-10Ann_Final.pdf">and here</a>, there are three treatment systems on the site that utilized 140,000 pounds of carbon over the course of 2010 alone. The carbon was changed out at least 12 times throughout the year. Transport: According to the <a href="http://www.ghgprotocol.org/calculation-tools/all-tools">Greenhouse Gas Protocol</a>, a truck generates 2.54 pounds of carbon dioxide per mile. We assume each exchange of carbon required a one way 2,605 mile trip to the Neville Island treatment center in Pennsylvania. Reactivation: According to <a href="http://nature.berkeley.edu/classes/es196/projects/2012final/HeK_2012.pdf">a study by Katherine He</a> at the University of California at Berkeley, carbon regeneration emits 0.70 pounds of carbon dioxide per pound of carbon processed. According to <a href="http://www.epa.gov/cleanenergy/energy-resources/refs.html">the EPA</a>, a passenger vehicle emits 0.00892 tons or 0.914 pounds of carbon dioxide per gallon and travels 21.5 miles per gallon on average.
	</p>

</div>
