// The main stylesheet. This is the file that will be compiled to styles/min.css -
// import all your subsidiary stylesheets here

// default imports
@import "guardian/base";
@import "mixins"; // this makes the contents of the mixins.scss file available here


// project-specific styles go here (or you can import separate .scss files)
#gia-oversight {
	position: relative;
	#oversight-intro {
		z-index: 10000;
	}
	#oversight-intro p {
		max-width: 575px;
		background-color: rgba(255,255,255, 0.95);
	}
	.segments-window {
		position: relative;
		overflow: hidden;
		margin: -100px 0 0 0;
		width: 100%;
		height: 775px;
	}
	.controls {
		position: absolute;
		top: 0;
		padding: 150px 0 0 0;
		left: 0;
		z-index: 9999;
		display: inline-block;
		overflow: hidden;
		margin: 0;
		margin: 150px 0 0 0;
		width: 120px;
		height: 100%;
		transition: width .5s;
		vertical-align: top;
	}
	.gia-navigation {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10001;
		padding: 0;
		width: 100%;
		font-size: 0;
	}
	.segments {
		position: absolute;
		top: 0px;
		left: 150px;
		margin: 150px 0 0 0;
		padding: 0;
		width: 2000px;
		height: auto;
		font-size: 0;
		transition: left 1s, top 1s;
	}
	.nav-button {
		display: inline-block;
		margin: 2px;
		padding: 5px;
		width: 72px;
		border: #000 2px solid;
		border-radius: 5px;
		background-color: #FFF;
		color: #000;
		text-align: center;
		font-weight: bold;
		font-size: 12px;
		cursor: pointer;
		-webkit-user-select: none;
		user-select: none;
	}
	.illustration {
		position: absolute;
		top: -150px;
		left: 0;
		z-index: 0;
		width: 2000px;
		height: 700px;
	}
	.row-label-header {
		padding: 5px 0 0 20px;
		height: 95px;
		border-bottom: 0px #000 solid;
	}
	.segment-control-title {
		padding: 55px 0 0 0;
		height: 45px;
		font-weight: bold;
		font-size: 14px;
		line-height: 24px;
	}
	.segment-control-description {
		padding: 10px 0 0 0;
		height: 100px;
		font-weight: bold;
		font-size: 12px;
		line-height: 24px;
	}
	.row-label {
		margin: -1px 0 1px -10px;
		padding: 10px 0 0 10px;
		height: 148px;
		border-top: #000 2px solid;
		border-left: 0px #4a7801 solid;
		font-weight: bold;
		font-size: 18px;
		font-family: "Guardian Egyptian Web", sans-serif;
		line-height: 24px;
		background-color: #FFF;
	}
	.segment-control-key {
		padding: 10px 0 0 0;
		height: 100px;
		font-weight: bold;
		font-size: 12px;
		line-height: 16px;
	}
	.segment {
		position: relative;
		z-index: 1;
		display: inline-block;
		margin: 0;
		padding: 0;
		width: 250px;
		vertical-align: top;
		opacity: 1;
	}
	.segment-title {
		width: 250px;
		height: 150px;
		font-weight: bold;
		font-weight: bold;
		font-size: 16px;
		font-family: "Guardian Egyptian Web", sans-serif;
		line-height: 24px;
	}
	.segment-description {
		padding: 15px 15px 0 15px;
		width: 225px;
		height: 145px;
		font-size: 14px;
		line-height: 18px;
	}
	.segment-title-block {
		background-color: #FFF;
		padding: 13px 0 0 0;
		height: 30px;
	}
	.segment-description p {
		padding: 10px 0 10px 0;
		background-color: #FFF;
		font-size: 1em;
		font-family: "Guardian Text Sans Web";
		line-height: 1.5em;
	}
	.segment-oversight {
		padding: 10px 0 0 0;
		width: 225px;
		border-top: #000 1px dotted;
		font-size: 14px;
		line-height: 18px;
	}
	.active {
		opacity: 1;
	}
	.highlight {
		margin: 0 5px 0 5px;
		padding: 2px 5px 2px 5px;
		border-radius: 15px;
	}
	.highlight-key {
		display: inline-block;
		float: left;
		clear: both;
		margin: 0 5px 2px 5px;
		padding: 2px 5px 2px 5px;
		border-radius: 15px;
	}
	.segment-number {
		display: inline-block;
		margin: 0 5px 0 0;
		padding: 0;
		width: 24px;
		border-radius: 24px;
		background-color: #000;
		color: #FFF;
		text-align: center;
	}
	path {
		fill: none;
		/*stroke: #4a7801;*/
		stroke: #000;
		stroke-width: 2px;
		stroke-linecap: round;
		stroke-miterlimit: 1;
	}
}
