<div>

	<section on-tap='goto:step1' class='{{ scene("step1") ? "active" : "" }}'>
		<p><span class='number'>1</span> Carbon filters packed with dangerous chemicals are loaded onto trucks and driven from Mountain View to treatment facilities.</p>
	</section>

	{{# mobile }}
		<img src='<%= assets %>/images/trail/stage1.png'>
	{{/ mobile }}

	<section on-tap='goto:step2' class='{{ scene("step2") ? "active" : "" }}'>
		<p><span class='number'>2</span>Extreme heat and treatment separate the toxic waste from the filters. This generates more waste, which is shipped elsewhere.</p>
	</section>

	{{# mobile }}
		<img src='<%= assets %>/images/trail/stage2.png'>
	{{/ mobile }}

	<section on-tap='goto:step3' class='{{ scene("step3") ? "active" : "" }}'>
		<p><span class='number'>3</span>This cycle continues in a toxic merry-go-round. This map shows many different sites where waste is sent for treatment two steps after the Mountain View site.</p>
	</section>

	{{# mobile }}
		<img src='<%= assets %>/images/trail/stage3.png'>
	{{/ mobile }}

</div>



<style>
	div {
		position: relative;
		z-index: 2;
		width: 100%;
		top: 0;
		left: 0;
		background-color: white;
		margin: 0 0 0.5em 0;
	}

	div:after {
		content: '';
        display: table;
        clear: both;
	}

	p {
		font-family: 'Guardian Text Sans Web';
		font-size: 0.8em;
	}

	section {
		position: relative;
		padding: 0.5em 0 0.5em 2.5em;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border-bottom: 4px solid white;
		color: #aaa;
		cursor: pointer;
	}

	.gia-mobile section {
		color: #545454;
	}

	.gia-desktop section {
		position: relative;
		padding: 0.5em 0.5em 0.5em 2.5em;
		width: 33.333%;
		float: left;
		border-bottom: 4px solid white;
	}

	.gia-desktop .active {
		opacity: 1;
		border-bottom: 4px solid rgb(240,200,0);
		color: #545454;
	}

	section p, .active p {
		margin: 0;
	}

	img {
		width: 100%;
		margin: 0 0 1em 0;
	}

	.number {
		position: absolute;
		font-family: 'Guardian Egyptian Web';
		font-size: 2em;
		font-weight: bold;
		top: 0.4em;
		left: 0;
		background-color: #aaa;
		color: white;
		width: 1.2em;
		height: 1.2em;
		display: block;
		line-height: 1.3;
		border-radius: 50%;
		text-align: center;
	}

	.gia-desktop .active .number, .gia-mobile .number {
		background-color: black;
	}

	/* CSS transitions are messed up somehow... */
	.gia-postrender section {
		-webkit-transition: color, border-bottom-color 0.4s;
		-moz-transition: color, border-bottom-color 0.4s;
		-ms-transition: color, border-bottom-color 0.4s;
		-o-transition: color, border-bottom-color 0.4s;
		transition: color, border-bottom-color 0.4s;
	}
</style>

<script>
	require( 'lib/Ractive-events-tap' );

	component.exports = {
		init: function () {
			var self = this;

			setTimeout( function () {
				self.find( '*' ).className += ' gia-postrender';
			}, 0 );
		}
	};
</script>
