<g class='gia-superfunds-countries'>
	{{#countries}}
		<path class='country {{ id === "USA" ? "usa" : "" }}' data-id='{{id}}' d='{{d}}'/>
	{{/countries}}
</g>

<g class='gia-superfunds-statelines'>
	{{#state_lines}}
		<path class='stateline' d='{{this}}'/>
	{{/state_lines}}
</g>

<g class='gia-superfunds-lakes'>
	{{#lakes}}
		<path class='lake' d='{{this}}'/>
	{{/lakes}}
</g>


<style>
	.country {
		fill: #fcfcfc;
		stroke: white;
	}

	.stateline {
		fill: none;
		stroke: rgba(0,0,0,0.08);
	}

	.lake {
		fill: white;
		stroke: rgba(0,0,0,0.08);
	}

	.usa {
		stroke: rgba(0,0,0,0.08);
		fill: #f6f6f6;
	}
</style>


<script>
	component.exports = {
		data: require( 'data' ).geo,
		isolated: true
	};
</script>
