<g transform='translate({{x}},{{y}})' on-click='replay' class='replay'>
	<!-- hit area -->
	<rect x='-10' y='-10' width='110' height='40' fill='#125185' rx='5' ry='5'/>

	<g transform='translate(0,-2) scale(0.25)'>
		<g>
			<path d='M9.157,62.433l9.067-3.846c0,0-8.362-16.937,9.114-30.036c0,0,10.923-7.473,22.901-2.375l3.723-9.131 c0,0-18.187-7.625-33.46,4.247C20.502,21.291-0.787,35.361,9.157,62.433z'/>
			<polygon points='55.317,5.887 43.409,35.101 63.969,26.446'/>
		</g>
		<g>
			<path d='M76.943,36.001l-9.068,3.836c0,0,8.355,16.94-9.128,30.032c0,0-10.93,7.471-22.904,2.372l-3.723,9.121 c0,0,18.18,7.639,33.461-4.227C65.581,77.135,86.875,63.073,76.943,36.001z'/>
			<polygon points='30.762,92.525 42.676,63.312 22.112,71.962'/>
		</g>
	</g>

	<text x='30' y='16' style='font-weight: bold;'>REPLAY</text>
</g>


<style>
	.replay {
		opacity: 1;
		cursor: pointer;
		fill: white;

		-webkit-transition: fill 0.4s;
		-moz-transition: fill 0.4s;
		-ms-transition: fill 0.4s;
		-o-transition: fill 0.4s;
		transition: fill 0.4s;
	}

	.replay:hover rect {
		fill: #004466;
	}
</style>
