<!-- labels that belong in front of the shipments -->
<g class='labels'>
	{{# scene('step1', 'step2') }}
		<!-- CALGON label -->
		<g transform='translate( {{CALGON.x}}, {{CALGON.y}} )' intro-outro='fade'>
			<circle r='6' fill='none' stroke='rgba(0,0,0,0.8)'/>
			<text style='text-anchor: start;' x='10' y='6'>CALGON (BIG SANDY, KY)</text>
		</g>

		<!-- CALGON_NEVILLE label -->
		<g transform='translate( {{CALGON_NEVILLE.x}}, {{CALGON_NEVILLE.y}} )' intro-outro='fade'>
			<circle r='6' fill='none' stroke='rgba(0,0,0,0.8)'/>
			<text style='text-anchor: start;' x='10' y='6'>CALGON (NEVILLE ISLAND, PA)</text>
		</g>

		<!-- SIEMENS_1 label -->
		<g transform='translate( {{SIEMENS_1.x}}, {{SIEMENS_1.y}} )' intro-outro='fade'>
			<circle r='6' fill='none' stroke='rgba(0,0,0,0.8)'/>
			<text style='text-anchor: start;' x='10' y='6'>SIEMENS (PARKER, AZ)</text>
		</g>
	{{/ scene('step1', 'step2') }}

	{{# scene('step1') }}
		<!-- NORIT label -->
		<g transform='translate( {{NORIT.x}}, {{NORIT.y}} )' intro-outro='fade'>
			<circle r='6' fill='none' stroke='rgba(0,0,0,0.8)'/>
			<text style='text-anchor: start;' x='10' y='6'>NORIT AMERICAS INC. (PRYOR, OK)</text>
		</g>

		<!-- SIEMENS_REDBLUFF label -->
		<g transform='translate( {{SIEMENS_REDBLUFF.x}}, {{SIEMENS_REDBLUFF.y}} )' intro-outro='fade'>
			<circle r='6' fill='none' stroke='rgba(0,0,0,0.8)'/>
			<text style='text-anchor: start;' x='10' y='6'>SIEMENS (RED BLUFF, CA)</text>
		</g>
	{{/ scene('step1') }}
</g>


<style>
	.labels g {
		opacity: 0.5;
	}

	text {
		text-anchor: middle;
		font-family: 'Guardian Text Sans Web';
		font-size: 0.8em;
	}
</style>
