<!-- import child components -->
<link rel='ractive' href='./trail.html'>
<link rel='ractive' href='./copy.html'>


<div class='gia-toxictrail-container {{ mobile ? "gia-mobile" : "gia-desktop" }}'>
	<div class='intro'>
		<h2>The toxic trail</h2>
		<p>Toxic waste is shipped, treated and burned all across the United States.</p>
	</div>

	<copy on-goto='goto'/>

	{{# !mobile }}
		<div class='map-container'>
			<trail on-replay='replay'/>
		</div>
	{{/ !mobile  }}

	<div class='gia-notes'>
		<p>Source: <a href='http://www.epa.gov/enviro/facts/rcrainfo/search.html'>RCRAInfo</a></p>
	</div>
</div>



<style>
	#gia-toxictrail {
		display: block;
		color: #333;
		font-size: 16px;
		line-height: 1.4;
		font-family: 'Guardian Text Egyptian Web';
	}

	h2 {
		font-family: 'Guardian Egyptian Web';
		margin: 0;
	}

	.gia-desktop .map-container {
		display: block;
	}

	.map-container {
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 47%;
	}
</style>


<script>
	var noop = function ( done ) { done(); };

	component.exports = {
		debug: true,

		init: function ( options ) {
			var id, scene;

			this.scenes = options.scenes || {};
			this._proxies = {};

			for ( id in this.scenes ) {
				if ( this.scenes.hasOwnProperty( id ) ) {
					scene = this.scenes[ id ];

					if ( typeof scene === 'function' ) {
						scene = scene.call( this );
					}

					this._proxies[ id ] = {
						id: id,
						enter: scene.enter || noop,
						exit: scene.exit || noop
					};

					this._proxies[ id ].enter.isAsync = !!this._proxies[ id ].enter.length;
					this._proxies[ id ].exit.isAsync = !!this._proxies[ id ].exit.length;
				}
			}

			this.on( 'goto', function ( event, scene ) {
				this.goto( null );
				this.goto( scene );
			});
		},

		goto: function ( id ) {
			var currentScene;

			this._target = id;

			if ( this._transitioning ) {
				return;
			}

			if ( this.get( '_currentScene' ) === id ) {
				return;
			}

			transition( this );
		},

		stop: function () {
			this.fire( 'stop' );
			this._auto = false;
		},

		data: {
			stage: 0,

			scene: function () {
				var currentSceneId, i;

				currentSceneId = this.get( '_currentScene' );

				if ( !arguments.length ) {
					return currentSceneId;
				}

				i = arguments.length;
				while ( i-- ) {
					if ( arguments[i] === currentSceneId ) {
						return true;
					}
				}
			},

			mobile: window.innerWidth < 600
		}
	};

	function transition ( storyboard ) {
		var currentSceneId, currentScene, done, alreadyDone;

		currentSceneId = storyboard.get( '_currentScene' );
		storyboard.fire( 'exiting', currentSceneId );

		currentScene = storyboard._proxies[ currentSceneId ];

		// If the current scene isn't defined, or doesn't have an
		// exit handler, we can go straight to the next scene
		if ( !currentScene ) {
			enterTargetScene( storyboard );
			return;
		}

		if ( currentScene.exit.isAsync ) {
			storyboard._transitioning = true;

			done = function () {
				if ( alreadyDone ) {
					return;
				}

				alreadyDone = true;
				storyboard._transitioning = false;

				storyboard.fire( 'exited', currentSceneId );
				enterTargetScene( storyboard );
			};

			currentScene.exit.call( storyboard, done );
		} else {
			currentScene.exit.call( storyboard );
			storyboard.fire( 'exited', currentSceneId );
			enterTargetScene( storyboard );
		}
	}

	function enterTargetScene ( storyboard ) {
		var targetSceneId, targetScene, done, alreadyDone;

		targetSceneId = storyboard._target;
		storyboard.fire( 'entering', targetSceneId );
		storyboard.set( '_currentScene', targetSceneId );

		targetScene = storyboard._proxies[ targetSceneId ];

		if ( !targetScene ) {
			//throw new Error( 'Cannot transition to non-existent scene ("' + targetSceneId + '")' );
			return;
		}

		if ( targetScene.enter.isAsync ) {
			storyboard._transitioning = true;

			done = function () {
				if ( alreadyDone ) {
					return;
				}

				alreadyDone = true;
				storyboard._transitioning = false;

				storyboard.fire( 'entered', targetSceneId );

				if ( storyboard._target !== targetSceneId ) {
					// a new scene was requested while we were transitioning!
					transition( storyboard );
				}
			};

			targetScene.enter.call( storyboard, done );
		} else {
			targetScene.enter.call( storyboard );
			storyboard.fire( 'entered', targetSceneId );
		}
	}
</script>
