<link rel='ractive' href='./geometry.html'>
<link rel='ractive' href='./replay.html'>
<link rel='ractive' href='./site-labels.html'>
<link rel='ractive' href='./journey.html'>


<svg class='gia-superfunds-map' viewBox='0 0 940 430'>

	<!-- the map itself -->
	<geometry/>

	<!-- labels that belong behind the shipments -->
	{{# scene('step1') }}
		<g intro-outro='fade' class='mew-label' transform='translate( {{MEW.x}}, {{MEW.y}} )'>
			<circle r='6' fill='rgba(0,0,0,0.4)'/>
			<text x='-45' y='0'>MOUNTAIN</text>
			<text x='-30' y='18'>VIEW</text>
		</g>
	{{/ scene('step1') }}


	<!-- the actual vis -->
	<g class='gia-superfunds-shipments'>
		{{# scene('step3') }}
			{{#journeys[2]}}
				<journey segment='{{segments[2]}}' showDestination='{{showDest[2]}}' class='secondary' data='{{this}}' introDuration='4000' outroDuration='500'/>
			{{/journeys[2]}}
		{{/ scene('step3') }}

		{{# scene('step2', 'step3') }}
			{{#journeys[1]}}
				<journey segment='{{segments[1]}}' showDestination='{{showDest[1]}}' class='secondary' data='{{this}}' introDuration='4000' outroDuration='500'/>
			{{/journeys[1]}}
		{{/ scene('step2', 'step3') }}

		{{# scene('step1') }}
			{{#journeys[0]}}
				<journey segment='{{segments[0]}}' showDestination='{{showDest[0]}}' class='initial' data='{{this}}' introDuration='2000' outroDuration='2000'/>
			{{/journeys[0]}}
		{{/ scene('step1')  }}
	</g>

	<!-- labels for Siemens and Calgon -->
	<site-labels/>

	<!-- replay -->
	<replay x='820' y='30' on-replay='replay'/>

</svg>

<style>
	svg {
		position: absolute;
		width: 100%;
		height: 100%;
		font-family: 'Guardian Text Sans Web';
		fill: #353535;
		overflow: hidden; /* IE9... */
	}

	.mew-label {
		font-weight: bold;
		text-anchor: middle;
	}
</style>



<script>

	require( 'lib/Ractive-transitions-fade' );

	component.exports = {
		init: function () {
			window.trail = this;
		}
	};

</script>
