<!-- <div class="graphic"> -->

	<div class="intro" id="oversight-intro">

		<h2>Overseeing a cleanup</h2>

		<p>
			Cleaning up a Superfund site involves many participants with different responsibilities. A typical cleanup involves the responsible party, the EPA and the state.
		</p>

	</div>

	<div class="segments-window">

		<div class="controls">

			<div class="row-label-spacer"></div>

			<div class="gia-navigation">
				<div id="gia-oversight-previous" class="gia-button gia-previous-button gia-left-button gia-disabled-button">‹</div>
				<div id="gia-oversight-next" class="gia-button gia-next-button gia-right-button">›</div>
			</div>

			<div class="row-label">Responsible party</div>
			<div class="row-label">EPA</div>
			<div class="row-label">State</div>
		</div>

		<div class="segments" id="segments">
			<div class="illustration" id="illustrations"></div>
			<div class="illustration">
				<img class='gia-oversight-arrows'>
			</div>
			<div class="segment active" id="one">
				<div class="segment-title"><div class="segment-title-block"><span class="gia-number">1</span>Designating a site</div></div>
				<div class="segment-description"></div>
				<div class="segment-description alt-row"><p>The EPA studies the health and environmental risks at a site. It then details the scope of the contamination and how it should be cleaned.</p></div>
				<div class="segment-description"></div>
			</div>

			<div class="segment" id="two">
				<div class="segment-title"><div class="segment-title-block"><span class="gia-number">2</span>Finding parties</div></div>
				<div class="segment-description"></div>
				<div class="segment-description alt-row"><p>The EPA finds the party responsible for contaminating the site, who also is responsible financially for the cleanup. If it can’t, the government assumes responsibility.</p></div>
				<div class="segment-description"></div>
			</div>
			<div class="segment" id="three">
				<div class="segment-title"><div class="segment-title-block"><span class="gia-number">3</span>Hiring contractors</div></div>
				<div class="segment-description"><p>These responsible parties can perform some cleanup work themselves but often hire contractors because of the specialized work required.</p></div>
				<div class="segment-description alt-row"><p>The EPA reviews and approves the qualifications of contractors hired to work on the site.</p></div>
				<div class="segment-description"></div>
			</div>
			<div class="segment" id="four">
				<div class="segment-title"><div class="segment-title-block"><span class="gia-number">4</span>Waste extraction</div></div>
				<div class="segment-description"><p>Contractors complete construction and excavate and extract waste.</p></div>
				<div class="segment-description alt-row"><p>Work done on the site must adhere to the EPA’s plan. Agency officials review cleanup progress every five years.</p></div>
				<div class="segment-description"></div>
			</div>
			<div class="segment" id="five">
				<div class="segment-title"><div class="segment-title-block"><span class="gia-number">5</span>Transporting waste</div></div>
				<div class="segment-description"><p>In cases where contractors remove waste from a site, the contractor is responsible for determining if the waste is hazardous before transport.</p></div>
				<div class="segment-description alt-row"><p>Any state rules must meet or exceed the EPA’s rules.</p></div>
				<div class="segment-description"><p>In all but two states (Alaska and Iowa), state agencies oversee the permitting and regulation of the transport, treatment, storage, and disposal of hazardous waste.</p></div>
			</div>
			<div class="segment" id="six">
				<div class="segment-title"><div class="segment-title-block"><span class="gia-number">6</span>Storage and disposal</div></div>
				<div class="segment-description"><p>Waste transported offsite is treated, stored or disposed of.</p></div>
				<div class="segment-description alt-row"><p>Any state rules must meet or exceed the EPA’s rules.</p></div>
				<div class="segment-description"><p>In all but two states (Alaska and Iowa), state agencies oversee the permitting and regulation of the transport, treatment, storage, and disposal of hazardous waste.</p></div>
			</div>
			<div class="segment" id="seven">
				<div class="segment-title"><div class="segment-title-block"><span class="gia-number">7</span>Complete cleanup</div></div>
				<div class="segment-description"><p>After completing a final inspection of the site, the responsible party prepares a “closeout report” certifying completion of the cleanup.</p></div>
				<div class="segment-description alt-row"><p>Once approved by EPA, the site is delisted from the Superfund program.</p></div>
				<div class="segment-description"></div>
			</div>
		</div>
	</div>

	<div class="gia-notes">
		<p>
			SOURCE: <a href="http://www.epa.gov/superfund/cleanup/pdfs/rdra/oversight.pdf">EPA</a>
		</p>
	</div>

<!-- </div> -->
