.gia-breakout {
	color: #666;
	max-width: 940px;
	margin: 0 auto;
}

.gia-breakout-right .gia-breakout-inner {
	float: right;
	margin: 0 0 1em 2em;
}

.gia-breakout-inner {
	width: 20em;
	font-family: 'Guardian Text Sans Web', Arial, sans-serif;

	img {
		max-width: 100%;
		margin: 0 0 1em 0;
	}

	p {
		font-size: 14px;
	}
}

@media (max-width: 740px) {
	.gia-breakout-inner {
		width: 100% !important;
	}
}
