#gia-dioxins {
	&:after {
		content: '';
		display: table;
		clear: both;
	}

	.gia-dioxins-figure {
		width: 33%;
		float: left;
		margin: 0;
		padding: 0;

		img {
			max-width: 100%;
		}
	}

	.gia-dioxins-figure figcaption {
		position: relative;
		color: #545454;
		font-size: 1em;
		line-height: 1.2;
		padding: 0 0 0 2em;

		&:before {
			display: none;
		}
	}

	.gia-number {
		position: absolute;
		left: 0;
	}

	@media (max-width: 740px) {
		.gia-dioxins-figure {
			display: block;
			width: 100% !important;
		}
		img {
			margin: auto;
		}
	}

}
