.gia-photo {
	margin: 0 auto 2em auto;

	img {
		width: 100%;
		margin: 0 0 0.5em 0;
	}

	figcaption {
		max-width: 620px;
		margin: 0 auto;
	}
}

.gia-photo-fullwidth {
	width: 100%;
}

.gia-photo-inline {
	max-width: 620px;
}

.gia-photo-side {
	margin: 0 auto;
	max-width: 940px;

	text-align: right;

	img, figcaption {
		float: right;
		clear: right;
		width: 24em;
		margin: 0 0 1em 2em;
	}
}

.gia-fin {
	margin: 0 auto;
	display: block;
	max-width: 100%;
}
