.gia-header {
	display: block;
	max-width: 940px;
	width: 100%;
	margin: 2em auto 2em auto;

	img {
		display: block;
		max-width: 700px;
		width: 100%;
		margin: 0 auto;
	}
}

.gia-article-intro {
	color: #666;
	font-weight: 300;
	font-size: 28px;
	font-family: "Guardian Egyptian Web", Georgia, serif;
	line-height: 36px;
	margin: 0 0 1em 0;
	text-align: center;
	max-width: 800px;
	margin: 0 auto 2em auto;
}
