.gia-interactive {


	/* ///// Links ///// */

	a, .link {
		color: rgb(0, 86, 137);
		text-decoration: underline;
		cursor: pointer;
		-webkit-user-select: none;
		user-select: none;
	}


	/* ///// Input ///// */

	input {
		width: 100%;
		outline: 0;
		border: 0;
	}

	/* ///// Highlights ///// */

	.selected span {
		border: 2px solid #005689;
		background-color: #005689;
		color: #FFFFFF !important;
	}

	/* ///// Drop-shadow ///// */


	.dropshadow {
		box-shadow: 0 0 10px #CCC;
	}

	/* ///// Button ///// */

	.navigation {
		font-size: 0;
	}

	.gia-button {
		padding: 10px 10px 10px 10px;
		height: 30px;
		text-align: center;
		font-weight: normal;
		font-size: 30px;
		font-family: "Guardian Text Egyptian Web", Georgia, serif;
		line-height: 30px;
		transition: width .5s, background-color .25s;
	 }

	.gia-disabled-button {
		background-color: #EDEDE7 !important;
		color: #B3B3B4 !important;
		cursor: default !important;
	 }

	.gia-button {
		display: inline-block;
		background-color: #005689;
		color: #FFFFFF;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.gia-button:hover {
		//background-color: rgb(32, 60, 0);
		background-color: #4490CE;
	}

	.gia-button:active {
		//background-color: rgb(32, 60, 0);
		background-color: #4490CE;
	}

	.gia-button-selected,
	.gia-button-selected:hover {
		//background-color: rgb(32, 60, 0);
		background-color: #4490CE;
	}

	.gia-left-button, .gia-right-button {
		width: 40px;
	}

	.gia-left-button {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;

	}

	.gia-right-button {
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	.gia-circle-button {
		border-radius: 50%;
		background-color: #EEE;
		line-height: 20px;
		color: #999;
		width: 18px;
		height: 18px;
		text-align: center;
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
		font-family: "Guardian Text Egyptian Web", Georgia, serif;;
		font-weight: bold;
		font-size: 12px;
	}

	/* ///// Loading ///// */

	.loading {
		position: relative;
		display: inline-block;
		width: 16px;
		height: 16px;
		border-top: 2px solid #005689;
		border-right: 2px solid #005689;
		border-bottom: 2px solid #FFF;
		border-left: 2px solid #FFF;
		border-radius: 100%;
		vertical-align: top;
		-webkit-animation: spin .6s infinite linear;
		-moz-animation: spin .6s infinite linear;
		-ms-animation: spin .6s infinite linear;
		animation: spin .6s infinite linear;
	}
}
