#gia-superfunds {
	font-family: "Guardian Text Egyptian Web", Georgia, serif;
	-webkit-font-smoothing: antialiased;

	> p, > ul {
		margin: 0 auto 12px auto;
		max-width: 620px;
		font-size: 18px;
		font-family: "Guardian Text Egyptian Web", Georgia, serif;
		line-height: 28px;
	}

	> ul {
		padding: 0 0 0 2em;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		strong {
			font-family: "Guardian Egyptian Web", Georgia, serif;
		}

		li {
			position: relative;
			list-style: none;
		}

		li:before {
			position: absolute;
			display: block;
			content: '';
			width: 0.4em;
			height: 0.4em;
			background-color: rgb(0,0,0);
			border-radius: 50%;
			top: 0.45em;
			left: -1.2em;
		}
	}

	> ul li p {
		font-family: "Guardian Text Egyptian Web", Georgia, serif;
	}

	> h2 {
		margin: 27px auto 1px auto;
		max-width: 620px;
		font-size: 20px;
		font-family: "Guardian Egyptian Web", Georgia, serif;
		line-height: 28px;
		line-height: 28px;
	}

	figcaption {
		font-family: 'Guardian Text Sans Web';
		color: #666;
		font-size: 0.8em;
	}
}

.gia-interactive {
	h1, h2, h3, h4, h5, h6 {
		margin: 0;
		font-family: 'Guardian Egyptian Web', Georgia, serif;
	}
	.intro p {
		margin: 0;
		font-size: 18px;
		font-family: 'Guardian Text Sans Web', Arial, sans-serif;
		line-height: 24px;
	}
}

.gia-number {
	display: inline-block;
	margin: 0 5px 0 0;
	padding: 0;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	background-color: #000;
	color: #FFF;
	text-align: center;
	line-height: 1.5;
	font-family: 'Guardian Egyptian Web';
	font-weight: bold;
}

.gia-smallprint, .gia-byline {
	font-size: 14px !important;
	font-family: 'Guardian Text Sans Web', Arial, sans-serif !important;
	line-height: 18px !important;
}

.gia-article-intro-large {
	margin-bottom: 0.5em;
}

.gia-article-intro-large-qa {
	font-size: 18px;
	line-height: 30px;
	margin: 0;
	// height: 30px;
	vertical-align: top;
}

.gia-bullet {
	position: relative;
	display: inline-block;
	margin: 2px 5px 2px 5px;
	height: 6px;
	width: 6px;
	border-radius: 3px;
	background-color: #005689;
}

.gia-notes {
	color: #666;
	font-size: 12px;
	font-family: "Guardian Text Sans Web", Arial, sans-serif;
	line-height: 14px;
}
