.article__container #gia-superfunds {
	color: #333333;
	font-family: "Guardian Text Egyptian Web", Georgia, serif;
	-webkit-font-smoothing: antialiased;

	> p, > ul {
		font-size: 18px;
		font-size: 1.8rem;
		line-height: 28px;
		line-height: 2.8rem;
		margin: 0 auto 12px auto;
		max-width: 620px;
		max-width: 62rem;
	}

	> h2 {
		font-family: "Guardian Egyptian Web", Georgia, serif;
		font-size: 20px;
		font-size: 2rem;
		line-height: 28px;
		line-height: 2.8rem;
		margin: 27px auto 1px auto;
		line-height: 28px;
		line-height: 2.8rem;
		max-width: 620px;
		max-width: 62rem;
	}
}
