<!-- Start of 'superfunds' interactive -->
<style type='text/css'>
	figure { display: block; }
</style>

<figure id='gia-superfunds' class='interactive' data-interactive='<%= projectUrl %>'></figure>

<!-- This bit is required for the interactive to work on R2 -->
<script>
	(function () {
		var el = document.getElementById( 'gia-superfunds' ),
		    url = el.getAttribute( 'data-interactive' ) + '/boot.js';

		require([ url ], function ( interactive ) {
			interactive.boot( el );
		});
	}());
</script>
<!-- End of 'superfunds' interactive -->
