<!doctype html>
<html lang='en-GB'>
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>

	<!-- replace this with a proper (non-slug) title -->
	<title>superfunds</title>
</head>

<body>

	<script src='<%= require %>'></script>
	<%= codeobject %>

</body>
</html>