// The main stylesheet. This is the file that will be compiled to styles/min.css -
// import all your subsidiary stylesheets here

// default imports
@import "mixins"; // this makes the contents of the mixins.scss file available here


// project-specific styles go here (or you can import separate .scss files)
#gia-superfunds {
	position: relative;
	display: block;
	margin: 0 auto;
	color: #333;
	font-size: 16px;
	line-height: 1.4;
	font-family: 'Guardian Text Egyptian Web', Georgia, serif;

	a, a:link, a:visited {
	    color: #005689;
	    text-decoration: none;
	}

	a:hover {
	    text-decoration: underline;
	}

	.text {
		max-width: 620px;
		margin: 0 auto;
	}
}

@import "shared/index";
@import "ng/index";
