@import "../mixins";

.interactive .gia-2014-02-superfunds-ng {
	/* .sidebar-right {
		float: right;
		margin: 20px -160px 20px 20px;
		padding: 20px;
		width: 300px;
		border-top: 2px solid #EEE;
		border-bottom: 2px solid #EEE;
	}

	.sidebar-left {
		float: left;
		margin: 0.5em 1em 1em 0;
		padding: 1em;
		width: 18em;
		border-top: 2px solid #EEE;
		border-bottom: 2px solid #EEE;
	} */

	h1, h2, h3, h4, h5, h6 {
		border: none !important; /* fuckwits */
		font-family: 'EgyptianHeadline', Georgia, serif;
	}

	> ul {
		max-width: 620px;
		max-width: 38rem;
		margin: 0 auto;
		list-style-type: disc;
		list-style-position: inside;
		padding: 0;
		@include border-box;
	}

	> ul li {
		list-style-type: disc;
		overflow: visible;
	}
}
