#gia-proliferation {
    .graphic {
        position: relative;
        max-width: 940px;
        font-family: "Guardian Text Sans Web", sans-serif;
        font-size: 14px;
        line-height: 18px;
    }

    .key {
        line-height: 20px;
        text-size: 14px;
    }

    .key-description {
        display: inline-block;
        width: 150px;
        vertical-align: top;
    }

    .key-row {
        margin: 0 0 5px 0;
    }

    .key-icon {
        display: inline-block;
        width: 30px;
        height: 20px;
        vertical-align: top;
        margin: 0 5px 0 0;
    }

    .key-icon line {
        stroke-width: 2;
        // stroke: rgb(240,200,0);
        // opacity: .5;
    }
    .gia-deleted-dot {
        fill: rgb(100,100,0);
        stroke: none;
    }
    .gia-deleted-dot-hidden {
        fill: none;
        stroke: none;
    }
}


#proliferation-graphic-wrapper {
    width: 940px;
    height: 425px;
}

#proliferation-graphic svg {
    position: absolute;
    left: 240px;
}

#proliferation-graphic .line {
    stroke-width: 1;
    stroke: rgb(240,200,0);
    opacity: .25;
}

#proliferation-graphic .selected {
    stroke-width: 1;
    stroke: rgb(240,120,0) !important;
    opacity: 1;
    shape-rendering: crispEdges;
}

#proliferation-graphic .axis line {
    fill: none;
    stroke: #999;
    opacity: .15;
    shape-rendering: crispEdges;
}

#proliferation-graphic .axis path {
    fill: none;
}

#proliferation-graphic-annotations {
    fill: none;
    stroke: #AAA;
    shape-rendering: crispEdges;
    stroke-dasharray: 2,2;

}

.annotation {
    position: absolute;
    width: 200px;
    height: auto;
    background-color: #FFF;
    padding: 10px;
}

.annotation p {
    margin: 0;
}

#key {
    top: 30px;
}

#annotation-1 {
    top: 315px;
}

#annotation-2 {
    top: 170px;
}

#annotation-3 {
    top: 30px;
    left: 350px;
}
