<div class="graphic">
	<div class="intro">
		<h2>The Superfund next door</h2>

		<p>
			There are more than 1,300 Superfund sites across the United States. How close is one to where you live?
		</p>

	</div>
	<div class="gia-navigation">

		<div class="navigation-text">Sites near</div>
		<div class="input-container">
			<div class="input-container2">
				<input class="input" id="address" placeholder="zip code" type="text" pattern="[0-9]*" name="input" value="">
			</div>
			<div class="loading-container">
				<div id="loader"></div>
			</div>
		</div>

		<div class="navigation-filters">
			<div class="navigation-text">with</div>
			<div id="hazards" class="dropdown">
				<div class="dropdown-selected">VOCs</div>
				<div class="dropdown-items">
					<div data-menu="any contaminants" data-value="any" class="dropdown-item any">any contaminants</div>
					<div data-menu="acids" data-value="Base Neutral Acids" class="dropdown-item"><span class="circle-button"></span>base neutral acids</div>
					<div data-menu="dioxins" data-value="Dioxins/Dibenzofurans" class="dropdown-item"><span class="circle-button"></span>dioxins / dibenzofurans</div>
					<div data-menu="inorganics" data-value="Inorganics" data-value="Inorganics" class="dropdown-item"><span class="circle-button selected"></span>inorganics</div>
					<div data-menu="metals" data-value="Metals" class="dropdown-item"><span class="circle-button selected"></span>metals</div>
					<div data-menu="pesticides" data-value="Pesticides" class="dropdown-item"><span class="circle-button"></span>pesticides</div>
					<div data-menu="PCBs" data-value="PCBs" class="dropdown-item"><span class="circle-button"></span>polychlorinated biphenyls</div>
					<div data-menu="PAHs" data-value="PAHs" class="dropdown-item"><span class="circle-button"></span>polycyclic aromatic hydrocarbons</div>
					<div data-menu="radioactives" data-value="Radioactives" class="dropdown-item"><span class="circle-button"></span>radioactives</div>
					<div data-menu="VOCs" data-value="VOCs" class="dropdown-item selected"><span class="circle-button"></span>volatile organic compounds</div>
				</div>
			</div>
			<div class="navigation-text">in</div>
			<div id="medias" class="dropdown">
				<div class="dropdown-selected">groundwater</div>
				<div class="dropdown-items">
					<div data-menu="any place" data-value="any" class="dropdown-item any">any place</div>
					<div data-menu="groundwater" data-value="GW" class="dropdown-item selected"><span class="circle-button"></span>groundwater</div>
					<div data-menu="soil" data-value="SO" class="dropdown-item"><span class="circle-button"></span>soil</div>
					<div data-menu="sediment" data-value="SD" class="dropdown-item"><span class="circle-button"></span>sediment</div>
					<div data-menu="solid waste" data-value="ST" class="dropdown-item"><span class="circle-button"></span>solid waste</div>
					<div data-menu="sludge" data-value="SL" class="dropdown-item"><span class="circle-button"></span>sludge</div>
					<div data-menu="surface water" data-value="SW" class="dropdown-item"><span class="circle-button"></span>surface water</div>
				</div>
			</div>
		</div>

		<div id="button" class="gia-button">Find sites</div>

		<!--
		<div class="popup-details">
			There are 10 sites that meet your criteria.
		</div>
		-->



	</div>

	<div class="map-wrapper" id='map-wrapper'>
		<div id='map'></div>
	</div>

	<div class="map-key">
		<div id="all-results" class="popup-details"></div>
		<div id="local-results" class="popup-details"></div>
		<div class="key-row"> <div class="key-indicator blue"></div> Sites that match these filters</div>
		<div class="key-row"> <div class="key-indicator gray"></div> Other sites</div>
	</div>

	<div class="glossary">

		<div class="glossary-header">
			<h2>Glossary</h2>
			<div class="close-button"> Close </div>
		</div>

		<div class="glossary-col">
			<p>
				<span class="glossary-entry">Base Neutral Acids:</span> Semi-volatile organic compounds which can be extracted from water if conditions are acidic. These chemicals are often found in groundwater at Superfund sites.
			</p>
			<p>
				<span class="glossary-entry">Dioxins/Dibenzofurans:</span> Produced during incineration or burning of waste, dioxins have no known natural use. Dioxins build up in the food supply and have been linked to cancer and birth defects. The EPA considers current background levels to be “dangerously close” to causing harm to humans and the environment.
			</p>
			<p>
				<span class="glossary-entry">Inorganics:</span> Chemicals that contain no carbon, including most elements. Common examples of inorganics found at Superfund sites include mercury and arsenic, a known human carcinogen.
			</p>
			<p>
				<span class="glossary-entry">Metals:</span> Includes heavy metals such as lead that are often found at Superfund sites. Metallic mercury alone has been identified at more than 700 Superfund sites across the country.
			</p>
		</div>

		<div class="glossary-col">
			<p>
				<span class="glossary-entry">Pesticides:</span> Chemicals designed to kill pests such as rodents or plants. The use of many pesticides has been banned or limited by the EPA.
			</p>
			<p>
				<span class="glossary-entry">Polychlorinated Biphenyls (PCBs):</span> A mixture of man-made chlorinated compounds with no smell or taste. PCBs have been linked to damaging effects to the immune and nervous systems; production of PCBs was banned in the United States after 1979.
			</p>
			<p>
				<span class="glossary-entry">Polycyclic Aromatic Hydrocarbons (PAHs):</span> Often found together in groups of two or more, these are persistent chemicals and most do not break down easily in water. Exposure has been linked to birth defects and tumors in animals.
			</p>
			<p>
				<span class="glossary-entry">Radioactives:</span> A class of chemicals in which the nucleus of the atom is unstable, such as uranium, and releases radiation as it decays. Some radioactives, such as radon, are known human carcinogens.
			</p>
		</div>

		<div class="glossary-col">
			<p>
				<span class="glossary-entry">Volatile Organic Compounds (VOCs):</span> Organic chemical compounds that easily evaporate, such as gasoline. These include Trichloroethylene, or TCE, commonly used as an industrial solvent and linked to developmental and neurological damage.
			</p>
			<p>
				<span class="glossary-entry">Star rating system</span>
			</p>

			<div class="glossary-entry-indented"><p><span class="glossary-entry">5 Stars:</span></p></div><div class="glossary-definition-indented"><p>Protective</p></div>
			<div class="glossary-entry-indented"><p><span class="glossary-entry">4 Stars:</span></p></div><div class="glossary-definition-indented"><p>Protective in the Short Term</p></div>
			<div class="glossary-entry-indented"><p><span class="glossary-entry">3 Stars:</span></p></div><div class="glossary-definition-indented"><p>Not protective; will be once remedy is complete</p></div>
			<div class="glossary-entry-indented"><p><span class="glossary-entry">2 Stars:</span></p></div><div class="glossary-definition-indented"><p>More information needed to make determination</p></div>
			<div class="glossary-entry-indented"><p><span class="glossary-entry">1 Star: </span></p></div><div class="glossary-definition-indented"><p>Not protective</p></div>


			<div class="notes">
				<p>
					Star ratings are only available for sites with a five-year review.
				</p>
				<p>
					SOURCE: EPA, Agency for Toxic Substances and Disease Registry (created by the Superfund law)
				</p>
			</div>

		</div>
	</div>

	<div class="gia-notes">
		<p>
			SOURCE: <a href="http://www.epa.gov/superfund/sites/cursites">EPA</a> NOTES: Includes all sites currently on the National Priorities List. Contaminants for some sites are not available.
		</p>
	</div>
	<div class="glossary-link link" id="glossary-button"> GLOSSARY </div>

</div>
